<h1>Sign in!</h1>

<form action="<%= session_url %>" method="POST">
  <%= auth_token %>

  <label>
    Email
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </label>
  <br>
  <label>
    Password
    <input type="password" name="user[password]" value="<%= @user.password %>">
  </label>
  <br>
  <button>Submit</button>
</form>