<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Please click this link to reset your password:</p>
    <p><%= reset_password_url(@token) %></p>
  </body>
</html>