<h1>Confirm your identity</h1>

<form action="<%= users_url %>" method="POST">
  <%= auth_token %>

  <label>
    Email
    <input type="text" name="forgot[email]" value="<%= @user.email %>">
  </label>
  <br>
  <label>
    Password
    <input type="password" name="user[password]" value="<%= @user.password %>">
  </label>
  <br>
  <button>Submit</button>
</form>