<h1>Reset your password</h1>

<form action="<%= user_url(current_user) %>" method="POST">
  <%= auth_token %>

  <input type="hidden" name="_method" value="PATCH">

  <input type="password" name="user[password]" value="">

  <button>Submit</button>
</form>